.title,
.subtitle {
  margin-left: 20px;
}
.container {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -600px;
  bottom: 0;
}
.input {
    margin-top: 10px;
}
.add_contact_button:hover{
    cursor: pointer;
}
.contact_item {
    margin-top: 15px;
    display: flex;
}

.delete_button {
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 20px;
    padding: 5px;
}
.delete_button:hover{
    cursor: pointer;
}